<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="XMLDirection" value="C:\Users\gonzalo.bonfrisco\source\utec\Clases2022\Instituto\Instituto\XML\" />
		<add key ="XMLAlumno" value="Alumnos.xml"/>
		<add key ="XMLMateria" value="Materias.xml"/>

		<add key="NpgSqlConection" value="Host=localhost;Username=postgres;Password=Gonza1;Database=Instituto"/>

	</appSettings>
</configuration>